$flex: flex;

@mixin position($a, $b, $c, $d) {
  top: $a;
  left: $b;
  right: $c;
  bottom: $d;
}

.main {
  display: flex;
  .main-aside {
    width: 20%;
  }

  .main-list {
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    &::before {
      content: "";
      background-image: url("https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png");
      background-size: auto;
      background-repeat: no-repeat;
      position: fixed;
      background-position: center;
      @include position(0px, 0px, 0px, 0px);
      opacity: 0.3;
    }
    .pokemon-contanier {
      display: flex;
      flex-direction: column;
      width: 30%;
      align-items: center;
      margin: 5px;
      border-radius: 15px;
      border: 3px solid rgb(243, 188, 243);
    }
  }
}
