$or: rgb(146, 146, 254);
@mixin parent($num) {
  color: rgb(249, 250, 218);
  border-color: transparent;
  padding: 3px 10px;
  font-weight: $num;
  border-radius: 10px;
  letter-spacing: 2px;
}
button {
  background-color: $or;
  @include parent(800);
  &:active {
    background-color: rgb(90, 90, 255);
  }
}
